{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{Name}}</h1>

    <br>

    <h2>Détail de l'annonce :</h2>
    {% if Description is empty %}
        <p>Il n'y a aucun détail pour cette annonce</p>
    {% else %}
        <p>{{ Description }}</p>
    {% endif %}

    <h2>Prix :</h2>
    <p>{{ Prix }} €</p>

    <h2>Etat de l'article :</h2>
    <p>{{ State }}</p>

    <h2>Date de l'annonce :</h2>
    <p>{{ Date|date('Y-m-d') }}</p>

    <h2>Lieu de vente :</h2>
    <p>{{Lieu}}</p>

    <br>

    <h2>Contact :</h2>
    <p>Vendeur : {{ Vendeur }}</p>
    <p>Numéro de téléphone : {{ Phone }}</p>
    <p>Adresse mail : {{ Mail }}</p>

    <br>

    {% if Proprietaire == true %}
        <p><a href="{{ path('modifannonce', { id: ID }) }}">Modifier l'annonce</a></p>
        <p><a href="{{ path('supprimerannonce', { id: ID }) }}">Supprimer l'annonce</a></p>
    {% else %}
        <p>Acheter</p>
    {% endif %}
    <a href="{{ path('homepage') }}">Retour</a>
{% endblock %}