{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier les informations souhaité</h1>
    <br>

    {{ form_start(form) }}
    {{ form_label(form.name) }}
    <br>
    {{ form_widget(form.name) }}
    <br>
    <br>
    {{ form_label(form.description) }}
    <br>
    {{ form_widget(form.description) }}
    <br>
    <br>
    {{ form_label(form.prix) }}
    <br>
    {{ form_widget(form.prix) }}
    <br>
    <br>
    {{ form_label(form.state) }}
    <br>
    {{ form_widget(form.state) }}
    <br>
    <br>
    {{ form_label(form.location) }}
    <br>
    {{ form_widget(form.location) }}
    <br>
    <br>
    {{ form_label(form.category) }}
    <br>
    {{ form_widget(form.category) }}
    <br>
    <p style="color: darkblue"> {{ message }} </p>
    {{ form_errors(form) }}
    <button type="submit" class="btn btn-primary">Valider les modifications</button>
    {{ form_end(form) }}

    <br>
    <a href="{{ path('annonce', { id : ID }) }}">Annuler</a>
{% endblock %}