{% extends 'base.html.twig' %}

{% block body %}
    <div class="form">
        <h1>Connexion</h1>
        <br>

        {{ form_start(form) }}
        {{ form_label(form.pseudo) }}
        <br>
        {{ form_widget(form.pseudo) }}
        <br>
        <br>
        {{ form_label(form.password) }}
        <br>
        {{ form_widget(form.password) }}

        <br>
        <p style="color: darkred"> {{ message }} </p>
        {{ form_errors(form) }}
        <button type="submit" class="btn btn-primary mon-bouton">Se connecter</button>
        {{ form_end(form) }}

        <br>
        <p>Pas de compte ?</p>
        <a href="{{ path('inscription') }}">Créer un compte</a>
    </div>
{% endblock %}